In [4]:
#importing libraries
import pandas as pd
import sqlite3
import numpy as np
import datetime

In [7]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting sqlparse
  Downloading sqlparse-0.4.3-py3-none-any.whl (42 kB)
     ---------------------------------------- 42.8/42.8 kB 1.0 MB/s eta 0:00:00
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.8-cp39-cp39-win_amd64.whl (2.0 MB)
     ---------------------------------------- 2.0/2.0 MB 121.5 kB/s eta 0:00:00
Requirement already satisfied: ipython-genutils in e:\anaconda3\envs\nlp\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython in e:\anaconda3\envs\nlp\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: six in e:\anaconda3\envs\nlp\lib\site-packages (from ipython-sql) (1.16.0)
Collecting prettytable
  Downloading prettytable-3.6.0-py3-none-any.whl (27 kB)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mamto\appdata\roaming\python\python39\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: typing-extensions>=4.2.0 in e:\anaconda3\envs\nlp\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.3.0)
Requirement already satisfied: backcall in e:\anaconda3\envs\nlp\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in e:\anaconda3\envs\nlp\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: decorator in e:\anaconda3\envs\nlp\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in e:\anaconda3\envs\nlp\lib\site-packages (from ipython->ipython-sql) (63.4.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in e:\anaconda3\envs\nlp\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: pygments in e:\anaconda3\envs\nlp\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: jedi>=0.16 in e:\anaconda3\envs\nlp\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in e:\anaconda3\envs\nlp\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: colorama in e:\anaconda3\envs\nlp\lib\site-packages (from ipython->ipython-sql) (0.4.5)
Requirement already satisfied: pickleshare in e:\anaconda3\envs\nlp\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: wcwidth in e:\anaconda3\envs\nlp\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in e:\anaconda3\envs\nlp\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
Successfully installed ipython-sql-0.5.0 prettytable-3.6.0 sqlalchemy-2.0.8 sqlparse-0.4.3

In [2]:
conn1 = sqlite3.connect("db.sqlite3")

In [8]:
# Loading the sql module to ipython using line magic
%load_ext sql

In [9]:
%sql sqlite:///db.sqlite3

In [10]:
%sql SELECT * FROM users_customuser LIMIT 20;

 * sqlite:///db.sqlite3
Done.

[(1, 'pbkdf2_sha256$390000$0cPpAdrcdSrakYRxFdbzvn$MzMjfm3Y7TfTrYqwvDiQlR85mWYXgxTXv/f6VryS6Es=', None, 'admin', '', '', 1, 1, 1, '2023-04-04 13:46:05.163053')]

In [11]:
 %sql result << SELECT * FROM users_customuser;

 * sqlite:///db.sqlite3
Done.
Returning data to local variable result

In [5]:
result = pd.DataFrame(result)

NameError: name 'result' is not defined

In [ ]:
result.head()

In [14]:
import re
def converting(a):
    cleanString = re.sub('\W+','', a )
    return a

In [3]:
DataAdd = pd.read_csv("../Users.csv")
DataAdd.head()

   foreign_id  username
0           1  fgVo76Mo
1           2  tMkhisT5
2           3  NfdgQcnt
3           4  venbVB4p
4           5  rs3BfROl

In [4]:
result.head()

NameError: name 'result' is not defined

In [5]:
DataAdd.rename(columns = {'foreign_id':'id'},inplace=True)
DataAdd.head()

   id  username
0   1  fgVo76Mo
1   2  tMkhisT5
2   3  NfdgQcnt
3   4  venbVB4p
4   5  rs3BfROl

In [6]:

DataAdd["password"] = "pbkdf2_sha256$390000$0cPpAdrcdSrakYRxFdbzvn$MzMjfm3Y7TfTrYqwvDiQlR85mWYXgxTXv/f6VryS6Es="
DataAdd["is_active"] = "1"
DataAdd["is_staff"] = "0"
DataAdd["is_superuser"] = "0"
DataAdd["first_name"] = "Hai"
DataAdd["last_name"] = "Nguyen"
DataAdd["date_joined"] = str(datetime.datetime.now())
DataAdd.drop(columns = "id",inplace = True)
DataAdd.head()
DataAdd.head()

,username,password,is_active,is_staff,is_superuser,first_name,last_name,date_joined
0,fgVo76Mo,pbkdf2_sha256$390000$0cPpAdrcdSrakYRxFdbzvn$Mz...,1,0,0,Hai,Nguyen,2023-04-04 23:45:55.179634
1,tMkhisT5,pbkdf2_sha256$390000$0cPpAdrcdSrakYRxFdbzvn$Mz...,1,0,0,Hai,Nguyen,2023-04-04 23:45:55.179634
2,NfdgQcnt,pbkdf2_sha256$390000$0cPpAdrcdSrakYRxFdbzvn$Mz...,1,0,0,Hai,Nguyen,2023-04-04 23:45:55.179634
3,venbVB4p,pbkdf2_sha256$390000$0cPpAdrcdSrakYRxFdbzvn$Mz...,1,0,0,Hai,Nguyen,2023-04-04 23:45:55.179634
4,rs3BfROl,pbkdf2_sha256$390000$0cPpAdrcdSrakYRxFdbzvn$Mz...,1,0,0,Hai,Nguyen,2023-04-04 23:45:55.179634

In [7]:
str(datetime.datetime.now())

'2023-04-04 23:45:57.188715'

In [8]:
DataAdd = DataAdd.to_records(index=False)
DataAdd = list(DataAdd)

In [9]:
for i in range(4):
    print(DataAdd[i])

('fgVo76Mo', 'pbkdf2_sha256$390000$0cPpAdrcdSrakYRxFdbzvn$MzMjfm3Y7TfTrYqwvDiQlR85mWYXgxTXv/f6VryS6Es=', '1', '0', '0', 'Hai', 'Nguyen', '2023-04-04 23:45:55.179634')
('tMkhisT5', 'pbkdf2_sha256$390000$0cPpAdrcdSrakYRxFdbzvn$MzMjfm3Y7TfTrYqwvDiQlR85mWYXgxTXv/f6VryS6Es=', '1', '0', '0', 'Hai', 'Nguyen', '2023-04-04 23:45:55.179634')
('NfdgQcnt', 'pbkdf2_sha256$390000$0cPpAdrcdSrakYRxFdbzvn$MzMjfm3Y7TfTrYqwvDiQlR85mWYXgxTXv/f6VryS6Es=', '1', '0', '0', 'Hai', 'Nguyen', '2023-04-04 23:45:55.179634')
('venbVB4p', 'pbkdf2_sha256$390000$0cPpAdrcdSrakYRxFdbzvn$MzMjfm3Y7TfTrYqwvDiQlR85mWYXgxTXv/f6VryS6Es=', '1', '0', '0', 'Hai', 'Nguyen', '2023-04-04 23:45:55.179634')

In [10]:
cursor = conn1.cursor()
sqlite_insert_with_param = """INSERT INTO users_customuser
                          (username, password, is_active, is_staff, is_superuser, first_name, last_name, date_joined) 
                          VALUES (?, ?, ?, ?, ?, ?, ?, ?);"""
cursor.executemany(sqlite_insert_with_param, DataAdd)
conn1.commit()
print("Total", cursor.rowcount, "Records inserted successfully into SqliteDb_developers table")
conn1.commit()
cursor.close()

Total 278858 Records inserted successfully into SqliteDb_developers table

In [ ]:
import random


DataAdd["total_rating"] = DataAdd["total_rating"].map(lambda value: )

In [53]:
DataAdd['book_slug']=  DataAdd['Book-Title'].map(lambda value: re.sub('\W+','',value))

In [54]:
DataAdd.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,book_slug,id
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,ClassicalMythology,1
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,ClaraCallan,2
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,DecisioninNormandy,3
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,FluTheStoryoftheGreatInfluenzaPandemicof1918an...,4
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,TheMummiesofUrumchi,5

In [55]:
hairbd  = pd.read_csv('New_bookrating.csv')
hairbd.rename(columns={'Book-Rating':'total_rating'},inplace=True)
hairbd.head()

         ISBN  total_rating
0  000649840X      7.793103
1  0007110928      7.888889
2  0020199600      8.263158
3  0020442203      8.666667
4  002542730X      7.861538

In [56]:
HaibdJoin = DataAdd.merge(hairbd,on=['ISBN'],how='left')
HaibdJoin.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,book_slug,id,total_rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,ClassicalMythology,1,NaN
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,ClaraCallan,2,NaN
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,DecisioninNormandy,3,NaN
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,FluTheStoryoftheGreatInfluenzaPandemicof1918an...,4,NaN
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,TheMummiesofUrumchi,5,NaN

In [58]:
HaibdJoin.to_csv("test1.csv")

In [70]:
HaibdJoin.fillna('NULL', inplace=True)

In [71]:
HaibdJoin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 271360 entries, 0 to 271359
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271360 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271360 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271360 non-null  object
 8   book_slug            271360 non-null  object
 9   id                   271360 non-null  int64
 10  total_rating         271360 non-null  object
dtypes: int64(1), object(10)
memory usage: 24.8+ MB

In [ ]:
HaibdJoin.rename(columns={'total_rating_y':'total_rating'},inplace=True)

In [ ]:
HaibdJoin.drop(columns="total_rating_x",axis=1,inplace=True)

In [20]:
HaibdJoin.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,book_slug,id,total_rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,ClassicalMythology,1,NaN
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,ClaraCallan,2,NaN
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,DecisioninNormandy,3,NaN
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,FluTheStoryoftheGreatInfluenzaPandemicof1918an...,4,NaN
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,TheMummiesofUrumchi,5,NaN

In [ ]:
DataAdd.to_sql("main_app_ratings", conn1, index=False, if_exists="replace")

1149780

In [ ]:
# Result2 = pd.concat([result, DataAdd])
DataAdd[['password','last_login','first_name','last_name','date_joined']] = np.nan


DataAdd.head()

,id,username,is_active,is_staff,is_superuser,password,last_login,first_name,last_name,date_joined
0,1,fgVo76Mo,1,0,0,NaN,NaN,NaN,NaN,NaN
1,2,tMkhisT5,1,0,0,NaN,NaN,NaN,NaN,NaN
2,3,NfdgQcnt,1,0,0,NaN,NaN,NaN,NaN,NaN
3,4,venbVB4p,1,0,0,NaN,NaN,NaN,NaN,NaN
4,5,rs3BfROl,1,0,0,NaN,NaN,NaN,NaN,NaN

In [ ]:
DataAdd[['date_joined']] = '2023-04-04 13:30:57.996358'
DataAdd.tail()

,id,username,is_active,is_staff,is_superuser,password,last_login,first_name,last_name,date_joined
278853,278854,AiQ2NkAx,1,0,0,NaN,NaN,NaN,NaN,2023-04-04 13:30:57.996358
278854,278855,AsZ7usjn,1,0,0,NaN,NaN,NaN,NaN,2023-04-04 13:30:57.996358
278855,278856,QVE9PDY9,1,0,0,NaN,NaN,NaN,NaN,2023-04-04 13:30:57.996358
278856,278857,LH64Sk5O,1,0,0,NaN,NaN,NaN,NaN,2023-04-04 13:30:57.996358
278857,278858,qH8YtpsP,1,0,0,NaN,NaN,NaN,NaN,2023-04-04 13:30:57.996358

In [ ]:
Result2.head(10)

In [ ]:
DataAdd.to_sql("users_customuser", conn1, index=False, if_exists="replace")

278858

# Book

In [1]:
import re

In [2]:
conn1 = sqlite3.connect("db.sqlite3")

NameError: name 'sqlite3' is not defined

In [3]:
DataAdd = pd.read_csv("../Books.csv")
DataAdd.head()

NameError: name 'pd' is not defined

In [51]:
DataAdd['book_slug']=  DataAdd['Book-Title'].map(lambda value: re.sub('\W+','',value))
DataAdd["id"] = range(1, len(DataAdd)+1)

In [52]:
DataAdd.tail()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,book_slug,id
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,TheresaBatinBunkFive,271356
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,FromOnetoOneHundred,271357
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,LilyDaleTheTrueStoryoftheTownthatTalkstotheDead,271358
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,RepublicWorldsClassics,271359
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,AGuidedTourofReneDescartesMeditationsonFirstPh...,271360

In [15]:
# Loading the sql module to ipython using line magic
%load_ext sql

In [16]:
%sql sqlite:///db.sqlite3

In [17]:
%sql result << SELECT * FROM main_app_books;
%sql select * FROM main_app_books

 * sqlite:///db.sqlite3
Done.
Returning data to local variable result
 * sqlite:///db.sqlite3
Done.

[]

In [25]:
result = pd.DataFrame(result)
print(result.columns)

Index([], dtype='object')

In [73]:
HaibdJoin = HaibdJoin.to_records(index=False)
HaibdJoin = list(HaibdJoin)

In [74]:
for i in range(4):
    print(HaibdJoin[i])

('0195153448', 'Classical Mythology', 'Mark P. O. Morford', 2002, 'Oxford University Press', 'http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/0195153448.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg', 'ClassicalMythology', 1, 'NULL')
('0002005018', 'Clara Callan', 'Richard Bruce Wright', 2001, 'HarperFlamingo Canada', 'http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg', 'ClaraCallan', 2, 'NULL')
('0060973129', 'Decision in Normandy', "Carlo D'Este", 1991, 'HarperPerennial', 'http://images.amazon.com/images/P/0060973129.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/0060973129.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/0060973129.01.LZZZZZZZ.jpg', 'DecisioninNormandy', 3, 'NULL')
('0374157065', 'Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It', 'Gina Bari Kolata', 1999, 'Farrar Straus Giroux', 'http://images.amazon.com/images/P/0374157065.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/0374157065.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/0374157065.01.LZZZZZZZ.jpg', 'FluTheStoryoftheGreatInfluenzaPandemicof1918andtheSearchfortheVirusThatCausedIt', 4, 'NULL')

In [23]:
HaibdJoin.columns

AttributeError: 'list' object has no attribute 'columns'

In [76]:
cursor = conn1.cursor()
sqlite_insert_with_param = """INSERT INTO main_app_books 
                            (ISBN, title, author, year_of_publication, publisher, img_s, img_m, img_l, book_slug, id, total_rating) 
                            VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);"""
cursor.executemany(sqlite_insert_with_param, HaibdJoin)
conn1.commit()
print("Total", cursor.rowcount, "Records inserted successfully into SqliteDb_developers table")
conn1.commit()
cursor.close()

IntegrityError: datatype mismatch

In [77]:
#print(HaibdJoin[0])
TestPharse = ('0195153448', 'Classical Mythology', 'Mark P. O. Morford', 2002, 'Oxford University Press', 'http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/0195153448.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg', 'ClassicalMythology', 1, "NULL")
cursor = conn1.cursor()
sqlite_insert_with_param = """INSERT INTO main_app_books (ISBN, title, author, year_of_publication, publisher, img_s, img_m, img_l, book_slug, id, total_rating)   VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);"""
cursor.execute(sqlite_insert_with_param, TestPharse)
conn1.commit()
print("Total", cursor.rowcount, "Records inserted successfully into SqliteDb_developers table")
conn1.commit()
cursor.close()

IntegrityError: UNIQUE constraint failed: main_app_books.id